.container
    .row
        =link_to "Add new question", new_question_path,:class=>'btn btn-primary'
    - @questions.each_with_index do |ques,index|
        .row
            %h3{:style=>"width:100%;",:class=>'--margintop16'} #{ques.question}
            .actions
                %li= link_to "Modify a Question", edit_question_path(ques), :class=>'btn btn-warning --marginbottom8'
                = button_to "Delete a Question", question_path(ques), :method=>:delete, :confirm =>'Are you sure?', :class=>'btn btn-danger'
    '
   