.center.jumbotron
  %h1 Welcome to the PhDQual Flash Cards
  %h2
  = link_to "Start Practice", practice_path, class: "btn btn-lg btn-primary"
  = link_to "Start Quiz", quiz_path, class: "btn btn-lg btn-primary"